body {
	font-family: sans-serif;
	text-align: center;
	margin: auto;
}

.answers {
	display: flex;
	flex-direction: row;
	align-content: space-around;
	justify-content: center;
	margin: .5rem;
	flex-wrap: wrap;
}

.answers div {
	border: 1px solid black;
	padding: 1em;
	margin: .5rem;
	flex-basis: 30%;
}