@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Regular.ttf');
}

body {
	margin: 0;
}

.container {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 1rem 30%;
    background: linear-gradient(to bottom right, #0ABDF2 50%, #3095DA 50%);
    color: #eef2f3;
	padding: 1rem 0 2em 0;
}

h1 {
    text-transform: uppercase;
    font-size: 200%;
	font-weight: bold;
	margin: auto;
}

.question {
    padding: .2em 0;
}

.answers, .defile {  
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: center;
    margin: .5rem;
    flex-wrap: wrap;
}

.answers div, .defile div {
    margin: .5rem;
    color: #DADADA;
}

.answers div {
    background-color: #51c4ae;
    min-width: 50%;
    padding: 1em;
    text-align: left;
	vertical-align: center;
}

.answers span {
	padding-right: .5em;
}

.defile {	
    flex-direction: row;
    justify-content: space-around;
}

.defile div {	
    background-color: #60C;
	vertical-align: center;
	text-align: center;
	padding: .5em 1.2em;
}

.correct {
	background-color: #368676 !important;
}

.wrong {
	background-color: #C46 !important;
}